.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    color: white;
    height: 25px;
}
.details{
    list-style: none;
    /* justify-content: center; */
}
#lastname{
    margin-left: 400px;
    margin-top: -65px;
}
#number{
    margin-top: 20px;
}
#Gmail{
    margin-left: 400px;
    margin-top: -65px;
}

.product{
    list-style: none;
    border: solid 2px black;
    padding: 10px 10px;
    margin-left: 800px;
    margin-top: -120px;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    height: 270px;
    text-align: center;
}
/* #save{

} */
.payment{
    text-align: left;
    list-style: none;
    display: flex;
}
.delivery{
    list-style: none;
    display: flex;
    margin-left: 5%;
}
#save{
    border:solid 1px green;
    color: green;
}
#button{
    background-color: yellow;
    color: white;
    
}
/* #address{
    color: pink;
    text-underline-offset:solid pink;
} */

#pick{
    margin-left: -5%;
}
#delivery{
    margin-top: 3%;
    margin-left: -15%;
}
#enter{
    margin-top: -100px;
}
#cash{
    list-style: none;
    display: flex;
}
#google{
    margin-left: 2%;
}
#apple{
    margin-left: 2%;
}
#address{
    list-style: none;
}
#Ukroshta{
    list-style: none;

}
#free{
    list-style:none;
    margin-top: 2%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="body"] {
      width: 100%;
    }
  }